{% extends 'index.html' %}
{% block title %}add tasks{% endblock %}
{% block heading %}ADD TASKS{% endblock %}

{% block body %}
<div class="container">
<div class="row">

<form  action="/save/" method="post">
    {%csrf_token%}
    <div class="row">
         <div class="input-field col s12">
                    <input type="hidden" value="{{ todo.id }}" name="todo_id">
                    <input type="text" id="description"  placeholder="What do you need to do?" name="description" value="{{ todo.title }}" required>
                    <label for="description"><h6 style ="font-size: 19px;">Description</h6></label>
                                  </div>

                <div class="input-field col s12">
                    <select id="categry"  name="category_select">
                    <option class="disabled" value="{{ todo.category }}">Choose a category</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category"><h6>Category</h6></label>
                </div>
                <div class="input-field col s12">
                    <input type="date" id="dueDate" name="date" value="{{ todo.due_date }}">
                    <label for="dueDate"><h6 style="margin-top: -20px;">Due Date</h6></label>
                </div>
                <div class="row">
                    <button  name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                </div>

    </div>

  </form>
</div>
</div>

{% endblock %}